.layoutContainer{
  padding: 25px;
}
.row {
  display: flex;
}

.column {
  flex: 50%;
}
.heading{
  display: flex;
  justify-content: center;
}
.subHeading{
  display: flex;
  justify-content: center;
}

/*==== mobile ===== */
@media only screen and (max-width:480px){
  .row {
    display: block;
  }
}
